@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    --verde-escuro: rgb(54, 98, 62);
    --verde-claro: #99BC85;
    --azul-claro: #E4EFE7;
    --off-white: #FAF1E6;
    --creme: #FDFAF6;

    --noturno-preto: #1A1A19;
    --noturno-verde: #31511E;
    --noturno-verde-claro: #859F3D;
    --noturno-verde-off: #F6FCDF;
}

/*Faz a animação ao passar o mouse*/
@keyframes bordaColoridaRJ360 {
    0% {
        border-color: var(--noturno-verde-claro);
    }

    25% {
        border-color: var(--verde-claro);
    }

    50% {
        border-color: var(--azul-claro);
    }

    75% {
        border-color: var(--verde-claro);
    }

    100% {
        border-color: var(--noturno-verde-claro);
    }
}

.img-logo {
    width: 95px;
    margin-right: 15px;
    /* border-radius: 50%;
    border: 1px solid black; */
}

.navbar-brand {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.span-logo {
    color: var(--verde-claro);
}

.bg-body-custom {
    background-color: #E4EFE7;
}

body {
    background-color: var(--off-white);
}

.icon-home,
.icon-aparencia {
    font-size: 25px;
}

.icon-aparencia:hover,
.icon-home:hover {
    color: #769763;
    transition: 0.2s ease-in;
    cursor: pointer;
}


/*Imagem do Carrossel do Início*/

.img-carousel-1,
.img-carousel-2,
.img-carousel-3 {
    width: 100%;
    height: 500px;
    display: block;
    object-fit: cover;
}

/* Texto Inicial e Textos de Cards Zonas*/

.textoInicial, 
.card-text,
.text-body-custom,
.rodape--texto{
    text-align: justify;
    word-break: break-word;
    overflow-wrap: break-word;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-destaque, 
.card-title,
.textoZona,
.texto-avaliacoes {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Card de Zonas */

.imagem-zona {
    height: 240px;
    width: 100%;
}

.card-bg-zonas {
    background-color: var(--creme);
}

.card-hover-zonas {
    border: 4px solid transparent;
    transition: border 0.3s ease;
}

.card-hover-zonas:hover {
    animation: bordaColoridaRJ360 3s infinite;
}

/* Section de Planner Inteligente */

.container-textoInformativo-planner p{
    width: 50%;
}

.container-planner {
    background-color: var(--noturno-verde-claro);
    padding: 30px;
    border-radius: 20px;
}

.img-planner {
    width: 400px;
    border-radius: 20px;
}

/*Seção Locomoção + Demais funcionalidades*/
.secao-final {
    margin-top: 7%;
}

.texto-locomocao, 
.btn-locomocao {
    width: fit-content;
}

/*Alinhar e fazer um card nos blocos da seção final*/
/* .card-locomocao {
    border: 1px solid gray;
} */

/* .teste {
    width: fit-content;
    border: 1px solid gray;
} */

.text-custom-funcionalidade {
    font-size: 26px;
}


/* Carrosel de Avaliações + Card Avaliações */

/*Altura do card container*/
.carrousel-custom {
    /* background-color: var(--verde-claro); */
    /* background-color: red; */
    height: max-content;
}

.texto-avaliacoes {
    margin-top: 20px;
    margin-bottom: 30px;
}

.img-avaliacao {
    width: 110px;
    border-radius: 50%;
    border: 2px solid var(--verde-claro);
}

.card-avalicao {
    background-color: var(--azul-claro);
    height: fit-content;
}

.container-card-geral {
    height: 256px;
}


.btn-avaliacoes {
    color: black;
    /* background-color: red; */
    font-size: 30px;
}

.estrela-icon-avaliacao {
    color: #859F3D;
}

/*Rodapé*/

.container-rodape {
    background-color: var(--azul-claro);
}

.rodape-copywrite {
    width: 400px;
}

.icones-rodape {
    font-size: 30px;
    /* color: white; */

    color: #1A1A19;
    border-radius: 55%;
}

.icones-rodape:hover {
    transition: 0.2s;
    color: var(--noturno-verde);
}

.rodapeLinks {
    /* background-color: var(--noturno-verde-claro); */
    /* color: white; */

    color: #1A1A19;
    /* border: 2px solid var(--noturno-verde); */
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.rodapeLogo {
    background-color: var(--noturno-verde-claro);
    border-radius: 10px;
    padding-right: 10px;
}

.text-custom-footer {
    text-align: justify;
    word-break: break-word;
    overflow-wrap: break-word;
}

.c-year {
    font-weight: bold;
}

.span-logo-rodape {
    color: var(--noturno-verde);
}

.card-link {
    text-decoration: none;
    color: black;
}

.text-body-custom {
    font-style: italic;
}


[data-bs-theme="dark"] {
    transform: 0.5s;
    color: var(--off-white);
    background-color: var(--noturno-preto);

    .bg-body-custom {
        transition: 0.5s;
        background-color: var(--noturno-verde-claro);
    }

    .span-logo {
        color: var(--off-white);
    }

    .span-logo2 {
        transform: 0.8s;
        color: var(--noturno-verde);
    }

    .card-body {
        color: var(--noturno-preto);
        background-color: var(--off-white);
    }

    .text-body-custom {
        color: #272727;
        font-style: italic;
    }

    .bg-fundo-card {
        background-color: var(--off-white);
    }

    .bg-fundo-avaliacao {
        background-color: var(--noturno-preto);
    }

    .container-rodape {
        background-color: var(--noturno-verde-claro);
    }

    .carrousel-custom {
        background-color: red
    }

    .text-custom-footer {
        color: var(--off-white);
    }

    .rodapeLogo {
        background-color: var(--noturno-verde-off);
    }

    .span-logo-rodape {
        color: var(--noturno-verde-claro);
    }

    .span-logo2-rodape {
        color: var(--noturno-preto);
    }

    @media (max-width: 900px) {
        .container-rodape {
            flex-direction: column;
            gap: 1rem;
        }
    }

}

[data-bs-theme="light"] {
    transition: 0.5s;
}

/* Media queries globais (Ajuste de responsividade em telas) */

@media (max-width: 900px) {
    .container-rodape {
        flex-direction: column;
        gap: 1rem;
    }
}

/* @media (max-width: 2560px) {
    

    .img-carousel-1,
    .img-carousel-2,
    .img-carousel-3 {
        height: 900px;
    } 

}*/

/* @media (max-width: 1440px) {
    

    .img-carousel-1,
    .img-carousel-2,
    .img-carousel-3 {
        height: 500px;
    }
} */

/* @media (max-width: 768px) {
    

    .img-carousel-1,
    .img-carousel-2,
    .img-carousel-3 {
        height: 300px;
    }
} */

/* @media (max-width: 425px) {
    

    .img-carousel-1,
    .img-carousel-2,
    .img-carousel-3 {
        height: 200px;
    }
} */

    /* Ajustar card de avaliação! esta ficando ruim */
    /* .bg-fundo-avaliacao {} */

/* @media (max-width: 375px) {
    

    .img-carousel-1,
    .img-carousel-2,
    .img-carousel-3 {
        height: 180px;
    }

    
} */

/* @media (max-width: 320px) {
    

    .img-carousel-1,
    .img-carousel-2,
    .img-carousel-3 {
        height: 150px;
    }
} */