@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    --verde-escuro: rgb(54, 98, 62);
    --verde-claro: #99BC85;
    --azul-claro: #E4EFE7;
    --off-white: #FAF1E6;
    --creme: #FDFAF6;

    --noturno-preto: #1A1A19;
    --noturno-verde: #31511E;
    --noturno-verde-claro: #859F3D;
    --noturno-verde-off: #F6FCDF;
}

.space-mt-card {
    margin-top: 5%;
}

.space-mt-card-2 {
    margin-top: 10%;
}

.space-mt-card-3 {
    margin-top: 14%;
}

.mt-custom {
    margin-top: 100px;
    padding-top: 20px;
}

/* Textos Globais devem usar esta classe */

.textoGlobalNormal-basic {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.textoGlobalNormal {
    text-align: justify;
    word-break: break-word;
    overflow-wrap: break-word;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.btn-textoGlobalNormal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #859F3D;
    color: white;
}

.btn-textoGlobalNormal-azul {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #2c75ec;
    color: white;
}

.textoGlobalNegrito {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.btn-global {
    background-color: var(--noturno-verde-claro);
    color: white;
    border: none;
    width: 120px;
    padding: 10px;
}

.btn-global:hover {
    background-color: var(--noturno-verde);
    color: white;
}

.container-opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.offcanvas-link {
    display: inline-block;
    padding: 12px 24px;
    border: 2px solid var(--verde-claro);
    border-radius: 10px;
    text-align: center;
    width: 400px;
    max-width: 300px;
    color: black;
    font-size: 18px;
    background-color: transparent;
    transition: all 0.3s ease;
    text-decoration: none;
}

.container-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.container-fazer-login {
    background-color: #f8f9fa;
    border: 2px solid var(--verde-claro);
    border-radius: 12px;
    padding: 1.5rem 2rem;
    max-width: 300px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.container-fazer-login:hover {
    transform: translateY(-3px);
}

.container-fazer-login h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #343a40;
}

.perfil-offcanvas {
    display: inline-block;
    padding: 1rem;
    gap: 10px;
    border: 2px solid var(--verde-claro);
    border-radius: 12px;
    width: 200px;
    max-width: 300px;
    background-color: #ffffff;
    color: #212529;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.perfil-offcanvas:hover {
    transform: translateY(-3px);
    background-color: #f1fdf8;
}

.img-perfil img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ced4da;
}


.offcanvas-link:hover {
    background-color: black;
    color: white;
}

.header-space {
    margin-top: 9%;
}

.navbar {
    background-color: var(--azul-claro);
}

[data-bs-theme="dark"] {
    

    .btn-global:hover {
        background-color: var(--off-white);
        color: black;
    }

    .btn-textoGlobalNormal:hover {
        transition: 0.5s;
        background-color: var(--noturno-verde-off);
        color: black;
    }

    .btn-textoGlobalNormal-azul:hover {
        transition: 0.5s;
        background-color: #cad9f0;
        color: black;
    }

    /*Botões offcanvas do cabeçalho*/
    .botoes-offcanvas {
        background-color: var(--creme);
    }

    .botoes-offcanvas:hover {
        background-color: #343a40;
    }
}